set -x

exec &> /tmp/xsession-output

. ~/.config/zsh/env

xset -b            &

if [ "$(hostname)" == 'spiral' ]; then
    export GDK_SCALE=2
    export GDK_DPI_SCALE=0.5
    xrdb -merge ~/.Xresources

    #xrandr -s 1600x900 || exit
    xrandr -s 3840x2160 || exit
fi

autocutsel -fork &
autocutsel -selection PRIMARY -fork &
# unclutter -jitter 2 -noevents -idle 2 -grab &
xsetroot -cursor_name left_prt -bg '#000000' &
# xss-lock lock &

#udiskie        &
xbindkeys -v    &
dunst           &
urxvtd          &
libinput-gestures &

# set any first output as --primary
xrandr --output "$(xrandr | grep ' connected' | awk ' {if (!(NR-1)) print $1}')" --primary

~/code/df/kblayout/make &
