[alias]
	br = branch
	b = rebase
	ch = cherry-pick
	cl = clone
	commit = commit -v
	desc = show -s --format=oneline
	descs = log --format=oneline
	k  = checkout
	l  = log --decorate --graph
	m  = merge
	o = show
	p = cherry-pick
	pl = pull
	ps = push
	rb = rebase
	rh = reset --hard
	s  = stash
	t = reset
[push]
	default = current
[core]
	excludesfile = ~/.gitignore
[pull]
	rebase = true
# [user]
#	email = I SET THESE MANUALLY DEPENDING ON WORK/PERSONAL PROJECT
#	name = I SET THESE MANUALLY DEPENDING ON WORK/PERSONAL PROJECT
