[alias]
	br = branch
	b = rebase
	ch = cherry-pick
	cl = clone
	smush = commit --amend -C HEAD
	redo = commit --amend -C HEAD
	commit = commit -v
	desc = show -s --format=oneline
	descs = log --format=oneline
	k  = checkout
	l = log --decorate --graph
	lo = log --format=oneline --abbrev-commit
	lod = log --format='%h %aD %s' --abbrev-commit
	m  = merge
	o = show
	fo = show --format=fuller
	p = cherry-pick
	pl = pull
	ps = push
	pf = push --force-with-lease
	rb = rebase
	rh = reset --hard
	r = reset
	s = stash
[push]
	default = current
[core]
	excludesfile = ~/.gitignore
[pull]
	rebase = true
# [user]
#	email = I SET THESE MANUALLY DEPENDING ON WORK/PERSONAL PROJECT
#	name = I SET THESE MANUALLY DEPENDING ON WORK/PERSONAL PROJECT
