/tags
# /core*
/result

notes
scrap
trash
tmp
venv

gnore-*
*-gign

# vim
.vim
/.*.swp
.session*.vim
.*envrc*

# nix
/gemset.nix
/shell-*.nix
/shell*.nix

# development
/.tf-version
/.ruby-version
.bloop
.metals
project/metals.sbt
/node_modules
*.dot
.ghc.environment.*

# temporary
/project/project
.scalafmt.conf
