/tags
# /core*
/result

notes
scrap
trash
tmp
venv

gnore-*
*-gign

.tf-version
.session*.vim
.*envrc*

/docker-compose.yml
/gemset.nix
/shell-*.nix
/shell*.nix
/node_modules
/.ruby-version
/config/initializers/development_includes.rb
/.*.swp
*.dot

.bloop
.metals
project/metals.sbt
