#*

/vim/.config/nvim/*
!/vim/.config/nvim/plugin
!/vim/.config/nvim/UltiSnips

/zsh/.config/zsh/temporary

/nixos/**/result
/nixos/**/image
/nixos/**/stick
/nixos/**/configuration.nix
/**/private.nix

/ssh
