{ config, pkgs, ... }:

# don't forget to include the following line in your syncthing's stignore!
# /**/configuration.nix

{
  imports =
    [
      ./desktop.nix
      # ./hosts/REPLACEME.nix
    ];
}
