!urxvt.font:     xft:Monaco:size=7:antialias=false
!urxvt.font:     xft:DejaVu Sans Mono:size=8:antialias=true,xft:Noto Sans Mono CJK SC:size=8:antialias=true
urxvt.font:     xft:DejaVu Sans Mono:size=10
! :antialias=true
!urxvt.font:     xft:Iosevka:size=10:antialias=true
!urxvt.font:     xft:Gohu:size=7:antialias=false
!xterm.faceName:     xft:Gohu:size=7:antialias=false
!urxvt.letterSpace: -2

urxvt.scrollBar: false
urxvt.scrollstyle: rxvt
urxvt.title: Terminal
urxvt.background: [80]#1e1e1e
urxvt.perl-lib: /home/s/.config/urxvt
!urxvt.perl-ext-common: resize-font
urxvt.perl-ext-common:
urxvt.matcher.button: 1
urxvt.urlLauncher: chromium
urxvt.iso14755: false
urxvt.iso14755_52: false
urxvt.meta8: false
urxvt.termName: rxvt-unicode

! black: 0, 8; red: 1, 9; green: 2, 10; yellow: 3, 11; blue: 4, 12; magenta: 5, 13; cyan: 6, 14; white: 7, 15
*foreground:    #cccccf
*background:    #252525
*color0:  #222222
*color1:  #cd5c5c
*color2:  #00c913
*color3:  #ffd200
*color4:  #577db5
!*color5:  #ff69fd
*color5:  #9933ff
*color6:  #778798
*color7:  #eeeeee
*color8:  #888888
*color9:  #ee6363
*color11: #ffcd30
*color12: #6b7b8a
*color13: #ff69fd
*color14: #7ab2ae
*color15: #cacaca
