[alias]
	br = branch
	b = rebase
	ch = cherry-pick
	cl = clone
	commit = commit -v
	f = fetch
	fo = show --format=fuller
	h = show --format=oneline
	k = checkout
	kp = checkout -
	lf = log --format=fuller
	l = log --decorate --graph
	lb = !git reflog show --pretty=format:'%gs ~ %gd' --date=relative | grep 'checkout:' | grep -oE '[^ ]+ ~ .*' | awk -F~ '!seen[$1]++' | head -n 10 | awk -F' ~ HEAD@{' '{printf(\"  \\033[33m%s: \\033[37m %s\\033[0m\\n\", substr($2, 1, length($2)-1), $1)}'
	loc = log --format='%h' --abbrev-commit
	lod = log --format='%h %aD %s' --abbrev-commit
	lo = log --format=oneline --abbrev-commit
	ls = ls-files
	m = merge
	o = show
	p = cherry-pick
	pf = push --force-with-lease
	pl = pull
	ps = push
	rb = rebase
	redo = commit --amend -C HEAD
	rh = reset --hard
	rhu = reset --hard @{u}
	r = reset
	sl = shortlog
	sn = shortlog -sn
	s = stash
	vc = verify-commit
[push]
	default = current
[core]
	excludesfile = ~/.gitignore
[pull]
	rebase = true
[commit]
	cleanup = scissors
	verbose = true
[user]
	signingkey = D58EB6183E211B335B23ED5A5C1B1DF079F39C4B
	email = raitis.veinbahs@dasch.swiss
[safe]
	directory = /home/s/.syncthing/shares/home/code/df
	directory = /home/s/code/df
[init]
	defaultbranch = main
